.react-calendar {
  border: none !important;
  width: 100% !important;
  background: transparent !important;
}

/* Làm các ô ngày cao và thoáng hơn */
.react-calendar__tile {
  height: 70px !important; 
  display: flex !important;
  flex-direction: column !important;
  justify-content: center !important;
  align-items: center !important;
  font-size: 1.1rem !important;
  font-weight: 500 !important;
  border-radius: 16px !important;
  transition: all 0.3s ease !important;
}

/* Hiệu ứng khi chọn ngày */
.react-calendar__tile--active {
  background: #185ADB !important;
  color: white !important;
  box-shadow: 0 10px 15px -3px rgba(24, 90, 217, 0.4) !important;
}

/* Hiệu ứng hover */
.react-calendar__tile:hover {
  background-color: #f0f4ff !important;
  transform: translateY(-2px);
}

.react-calendar__month-view__weekdays__weekday abbr {
  text-decoration: none !important;
  text-transform: uppercase;
  font-size: 0.75rem;
  font-weight: 800;
  color: #9ca3af;
}